<div class='container'>
  <!-- needs to be refactored for question id -->
<h3>Question <%= @question["id"] %></h3>

  <div class='row'>
    <%= @question["question"] %>
  </div>

  <% @question['answers'].each do |answer| %>
  <div class='answer'>
    <%= link_to answer, '/quiz' %>
  </div>
  <% end %>
</div>
