<div class='container'>
  <!-- needs to be refactored for question id -->
<h3>Question <%= @question["id"] %></h3>

  <div class='row'>
    <%= @question["question"] %>
  </div>

  <%= form_with url: '/quiz', method: :get, remote: true do |f| %>
    <% @question['answers'].each do |answer| %>
      <%= f.submit "#{answer}" %>
    <% end %>
  <% end %>
</div>
