<div class='container'>
<h3>Question <%= @game.questions.first.id %></h3>

  <div class='row'>
    <%= @game.questions.first.question %>
  </div>

  <% @game.questions.first.answers.each do |answer| %>
    <%= link_to answer, game_path(@game), method: :patch %>
  <% end %>
</div>
