<%= render "welcome/navbar" %>
<div class="jumbotron text-center">
  <h2>Welcome @<%= @user.nickname %>!</h1>
  <p>Test your trivia knowledge against the world!</p>
</div>

<%= button_to 'Play', new_game_path, method: :get %>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="https://chagfilm.org/wp-content/uploads/2014/09/batman-pow-300x219.png">
    </div>
    <div class="col-sm-4">
      <div class="bg-success p-2 text-dark bg-opacity-25">
      <h4>Your High Scores</h3>
      <%# <% @user.find_high_scores.each do |score| %>
      <ul>
        <li>SCORES WILL GO HERE
      </ul>
      <%# end %>
      </div>
    </div>
    <div class="col-sm-4">
    <div class="bg-success p-2">
      <!-- <div class="p-3 mb-2 bg-secondary text-dark"> -->

        <h4>Challenge Your Friends!</h3>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Think you&#39;ve got what it takes to beat this brag?!?" data-url="https://shielded-anchorage-65791.heroku.com" data-hashtags="IveGotBraggingRights #TestYourMind" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <!-- </div> -->
    </div>
  </div>
</div>
