<div class="container-fluid">
  <div class="row text-center bg-dark m-5 p-4">
    <h3>Welcome @<%= @user.nickname %>!</h3>
    <h4 class="pb-4">Test your trivia knowledge against the world!</h4>
    <%= button_to 'Play', '/games/new', method: :get, class: "btn btn-lg btn-outline-light" %>
  </div>

  <div class="row text-center bg-semi-transparent m-5">
    <div class="col-lg-4 dashboard-panel">
      <img src="https://chagfilm.org/wp-content/uploads/2014/09/batman-pow-300x219.png">
    </div>

    <div class="col-lg-4 dashboard-panel">

      <h4 class="p-4">Your High Scores</h4>

      <table class="table">
        <% @user_score.each do |score| %>
        <tr>
          <td><%= User.find_by(uid: score.user_id).nickname %></td>
          <td><%= score.score %></td>
        <% end %>
        </tr>
      </table>
    </div>

    <div class="col-lg-4 dashboard-panel">
      <h4 class="p-4">Challenge Your Friends!</h4>
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Think you&#39;ve got what it takes to beat this brag?!?" data-url="https://shielded-anchorage-65791.heroku.com" data-hashtags="IveGotBraggingRights #TestYourMind" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
