<nav class="navbar">
  <div class="bg-success p-2 text-dark bg-opacity-25">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <p><img src="https://www.seekpng.com/png/full/266-2660165_twitter-logo-rounded-corners.png" width="50" height="50" class="d-inline-block align-text-top">
      <%= link_to "Log Out", '/logout', method: :delete %></p>
    </a>
    </div>
  </div>
</nav>
