<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="https://chagfilm.org/wp-content/uploads/2014/09/batman-pow-300x219.png" width="30" height="25" class ="d-inline-block align-top" alt="POW!">
    Bragging Rights
  </a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-item nav-link active" href="/dashboard">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="/leaderboard">High Scores</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
