<center>
<style>
div {
  margin-top: 375px;
}
</style>
<div>
<h1>Bragging Rights!</h1>
<h3>Can You Take On The World?<h3>
<%= link_to image_tag('sign-in-with-twitter.png'), "/auth/twitter" %>
</div>
</center>

