<div class='container-fluid mt-5'>
  <h1 class='text-center'>Bragging Rights!</h1>
  <h3 class='text-center mb-5'>Can You Take On The World?<h3>

  <div class='row text-center'>
    <%= link_to image_tag('sign-in-with-twitter.png'), "/auth/twitter" %>
  </div>
</div>

