<center id="welcome"><h1>Bragging Rights!</h1>

<h3>Sign in to get your brag on:</h3>

<%= link_to image_tag('sign-in-with-twitter.png'), '/auth/twitter' %>
</center>
<style>
  body {
   background-color: blue;
  }
  .center {
   text-align: center;
  }
  h1 {
    color: white;
  }
  h3 {
    color: white;
  }
</style>
