<div class='container-fluid'>
  <div class="row text-center">
    <div class='col-lg-6 mx-auto bg-dark p-4'>
      <h3>Final Score</h3>
    </div>
  </div>

  <div class='row text-center'>
    <div class='col-lg-6 mx-auto bg-dark p-2'>
      <h2 class="score"><%= @game.score %></h2>
      <div class ="stats">
        <p>Correct Answers: <b><%= @game.correct_answers %></b> of 5</p>
        <p>Your time: <b><%= @game.time %></b> seconds</p>
        <p>Average time per question: <b><%= @game.avg_time %></b> seconds</p>
      </div>
    </div>
  </div>

  <div class='row text-center'>
    <div class='col-lg-6 mx-auto stats bg-dark p-2'>
      <h4>Brag about this score! </h4>
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="To be the best, you got beat the rest! Check out my latest score on #BraggingRights!" data-url="https://shield-anchorage-65791.heroku.com" data-hashtags="#IveGotBraggingRights #CanYouTopThisScore" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
  <div class='row text-center'>
    <div class='col-lg-6 mx-auto stats bg-dark p-4'>
      <a href='/dashboard' class="btn btn-outline-light">Dashboard</a>

      <a href='/games/new' class="btn btn-outline-success">Play Again</a>

      <a href='/leaderboard' class="btn btn-outline-light">High Scores</a>
    </div>
  </div>
</div>
