<center>
<div class='container-fluid'>
  <div class='row'>
    <h3>Final Score</h3>
  </div>

  <div class='row'>
    <div class='col-2'></div>
    <div class='jumbotron jumbotron-fluid'>
      <p class='score'><%= @game.score %></p>
      <p>Correct Answers: <%= @game.correct %>/5</p>
      <p>Your time: <%= @game.time %></p>
      <p>Average time per question: <%= @game.avg_time %></p>
    </div>
    <div class='col-2'></div>
  </div>

  <div class='row justify-content-evenly'>
    <div class='col'>
      <a href='/dashboard' class="btn btn-outline-dark">Dashboard</button>
    </div>
    <div class='col'>
      <a href='/' class="btn btn-outline-success">Play Again</button>
    </div>
    <div class='col'>
      <a href='/leaderboard' class="btn btn-outline-dark">High Scores</button>
    </div>
  </div>
</div>
</center>
