/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body  {
  background-image: url('4806311.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #cccccc;
}

h1 {
  color: white;
  text-shadow: 10px 10px 15px #000000;
  font-family: "Marker Felt";
  font-weight: bold;
  font-style: italic; 
  font-size: 150px; 
}

h3 {
  color: white;
  text-shadow: 10px 10px 15px #000000;
  font-family: "Marker Felt";
  font-weight: bold;
  font-style: italic;
  font-size: 75px;
}

h4 {
  color: white;
  text-shadow: 10px 10px 15px #000000;
  font-family: "Marker Felt";
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
}

.score {
  color: black;
  font-family: "Marker Felt";
  font-style: italic;
  font-size: 50px;
  height: 100px;
  width: 200px;
  border-style: groove;
  border-width: 5px;
  border-color: #de2320;
  border-radius: 8px;
  padding: 20px 0;
}
