/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

body  {
  background-image: url('4806311.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #cccccc;
  padding-bottom: 70px;
}

footer {
  background-color: #22252a;
  color: white;
}

h1 {
  color: white;
  text-shadow: 10px 10px 15px #000000;
  font-family: "Marker Felt";
  font-weight: bold;
  font-style: italic;
  font-size: 5vw;
}

h2 {
  color: white;
  text-shadow: 10px 10px 15px #000000;
  font-family: "Marker Felt";
  font-weight: bold;
  font-style: italic;
  font-size: 4vw;
}

h3 {
  color: white;
  text-shadow: 10px 10px 15px #000000;
  font-family: "Marker Felt";
  font-weight: bold;
  font-style: italic;
  font-size: 3.5vw;
}

h4 {
  color: white;
  text-shadow: 10px 10px 15px #000000;
  font-family: "Marker Felt";
  font-weight: bold;
  font-style: italic;
  font-size: 2.5vw;
}

table, th, td {
  border-radius: 5px;
  text-align: center;
  width: 30%;
  margin-top: 25px;
  padding: 8px;
  font-size: 1.5vw;
}

th {
background-color: #f5ca12;
color: #22252a;
font-size: larger;
}

tr:nth-child(even) {
  background-color: #22252a;
  color: white;
  font-weight: bold;
}
tr:nth-child(odd) {
  background-color: white;
  color: #22252a;
  font-weight: bold;
}

.location-select {
  font-size: 1vw;
}

.bg-semi-transparent {
  background: rgba(34, 37, 42, .5);
}

.dashboard-panel {
  border-style: solid;
}

.question {
  background-color: #22252a;
  color: white;
  font-family: "Marker Felt";
  font-size: 3vw;
  padding: 20px;
  text-align: center;
}

.answer {
  background-color: rgba(34, 37, 42, .5);
  font-family: "Marker Felt";
  font-size: 2.5vw;
  font-style: italic;
  padding: 10px;
  text-align: center;
}

.score {
  border-radius: 8px;
  border-color: white;
  border-style: double;
  padding-top: 20px;
  padding-bottom: 20px;
}

.stats {
  color: white;
  font-size: 1.5vw;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
